---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ColumnLimit: 120

# Braces: Allman
BreakBeforeBraces: Allman

# Never collapse short constructs
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

# Add braces to control statements that don't have them
InsertBraces: true

# Parentheses
SpaceBeforeParens: ControlStatements

# Pointers / references
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# C++
Standard: c++20
Cpp11BracedListStyle: true

# Classes
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Always

# Namespaces
NamespaceIndentation: All

# Operators / expressions
BreakBeforeBinaryOperators: None
SpaceBeforeAssignmentOperators: true

# Constructors
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: BinPack
