---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Always
ContinuationIndentWidth: 4
ColumnLimit: 120

IndentCaseLabels: true

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

InsertBraces: true

SpaceBeforeParens: ControlStatements

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# C++
Standard: c++17
Cpp11BracedListStyle: true

AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Always

NamespaceIndentation: All

BreakBeforeBinaryOperators: None
SpaceBeforeAssignmentOperators: true

BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: BinPack
